.container {
  width: 100%;
  display: flex;

  &.from {
    justify-content: flex-start;
    .message {
      background: linear-gradient(90deg,#ad8862 5.07%,#956d45 94.33%);
      border: 1px solid #c5996d;
    }
  }

  &.to {
    justify-content: flex-end;
    .message {
      background-color: #1f1e1e;
      border: 1px solid #2f2f2f;
    }
  }

  .message {
    padding: 10px;
    color: #ffffff;
    border-radius: 16px;
  }

  .image {
    max-width: 200px;
    max-height: 400px;
    border-radius: 10px;
  }
}